@keyframes animate-entrance-slide-bottom {
	0% {
		transform: translateZ(-1400px) translateY(800px);
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		transform: translateZ(0) translateY(0);
		opacity: 1;
	}
}

@keyframes animate-entrance-slide-top {
	0% {
		transform: translate3d(0, -100%, -1400px);
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes animate-exit-slide-bottom {
	0% {
		transform: translateY(0%) scale(1, 1);
		opacity: 1;
	}

	60% {
		transform: translateY(-5%) scale(1.4, 1.4);
		opacity: 1;
	}

	80% {
		transform: translateY(5%) scale(1, 1);
		opacity: 0.85;
	}

	100% {
		transform: translateY(150%) scale(0.5, 0.5);
		opacity: 0;
	}
}

@keyframes animate-fade-in {
	0% {
		opacity: 0;
		transform: scale(1.2);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}