@import "variables", "animations";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Cousine', 'Ubuntu', 'Roboto', sans-serif;
	user-select: none;
	backface-visibility: hidden;
}

html, body {
	background-color: var(--background);
	color: var(--foreground);
	overflow: hidden;
	width: 100vw;
	height: 100%;
	height: -webkit-fill-available;
}

body {
	display: flex;
	place-content: center;
	place-items: center;
	flex-wrap: wrap;
	transform: translateZ(0);
	-webkit-font-smoothing: subpixel-antialiased;
}